.hamburger {
    display: flex;
    flex-flow: column nowrap;
    height: 2rem;
    justify-content: space-around;
    width: 2rem;
    z-index: 10;

    &.open {
        .overlay {
            background: rgb(142, 142, 224);
            display: flex;
            flex-direction: column;
            height: 100vh;
            position: absolute;
            top: 50px;
            transition: all ease-in 0.2s;
            width: 60vw;

            a {
                border: none;
                display: block;
                flex: unset;
            }
        }
    }

    .burger {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        margin-left: 5px;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }
}
